<a id="modal" class="button" href="/#/create/movie">Create Movie</a>
<br>
<table class="table">
  <thead>
    <tr><th>Title</th>
    <th>URL</th>
    <th>Operations</th>
  </tr></thead>
  <tbody>
    <tr ng-repeat="movie in movies">
      <td><a ng-href="/#/movie/{{ movie._id }}">{{ movie.title }}</a></td>
      <td>{{ movie.url }}</td>
      <td>
        <ul class="stack-for-small round secondary button-group">
          <li>
            <a ng-href="/#/movie/{{ movie._id }}/edit" class="button">edit</a>
          </li>
          <li>
            <a ng-href="/#/movie/{{ movie._id }}/delete" class="button">delete</a>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
